<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello,java
    <hr/>
    id:1
    name:花旗参红枣枸杞
    price:999
    createTime:2019-8-9
    createTime:15:34:17
    createTime:2019-8-9 15:34:17
    <hr/>
        index:0
        id:1
        name:花旗参红枣枸杞
        price:999
        createTime:2019-8-9
        index:1
        id:2
        name:霸王洗发水
        price:999
        createTime:2019-8-9
    <hr/>
        少年
    <hr/>
    ----> 
    ----> ok

</body>
</html>